<!DOCTYPE html>
<html lang="en">
  <%- include("./cssjs.ejs") %>
  <body>
    <%- include("../partials/header.ejs") %>

    <main>
      <div>
        <form action="/animals/<%= animals._id %>?_method=PUT" method="post">
          <fieldset>
            <legend>Edit<%= animals.species %></legend>
            <label
            >Species:<input 
            type="text" 
            name="species" 
            placeholder="name of animal"
          /></label>
          <label
            >Location:<input
              type="text"
              name="location"
              placeholder="where does this animal live"
          /></label>
          <label>
            Extinct:<input 
            type="checkbox" 
            name="extinct"
          /></label>
          <label>
              Life Expectancy:<input
              type="text"
              name="lifeExpectancy"
              placeholder="how long does this animal live?"
          /></label>
          </fieldset>
          <button>Update this Animal</button>
        </form>
      </div>
    </main>
  </body>
</html>