<!DOCTYPE html>
<html lang="en">
  
  <body>
    <%- include("../partials/header.ejs") %>

    <main>
      <div>
        <article>
          <a href="/animals/<%= animals._id %>">
            <h2>
              <%= animals.species %> - <%= animals.extinct ? "yes" : "no" %>
            </h2>
          </a>
        </article>

       
      </div>
    </main>
  </body>
</html>