<!DOCTYPE html>
<html lang="en">
  <%- include("./cssjs.ejs") %>
  <body>

    <main>
      <div>
        <form action="/animals" method="POST">
          <fieldset>
            <legend>Add a new Animal</legend>
            <label
              >Species:<input 
              type="text" 
              name="species" 
              placeholder="name of animal"
            /></label>
            <label
              >Location:<input
                type="text"
                name="location"
                placeholder="where does this animal live"
            /></label>
            <label>
              Extinct:<input 
              type="checkbox" 
              name="extinct"
            /></label>
            <label>
                Life Expectancy:<input
                type="text"
                name="lifeExpectancy"
                placeholder="how long does this animal live?"
            /></label>
          </fieldset>
          <input type="submit" value="Submit Animal">
        </form>
      </div>
    </main>
  </body>
</html>